################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/Steunijos.Web/.config
/.vs/steunijos/v16
/src/Steunijos.Web/bin
/src/Steunijos.Web/Properties
/src/Steunijos.Web/obj
