@model IEnumerable<Steunijos.Web.ViewModels.Journal.ShowJournalViewModel>


<section class="section">
    <div class="container-fluid">
        <div class="row">
            <div class="card-deck">
                <div class="card">
                    <img src="~/img/acrobatPdf.jpg" alt="" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Some Title</h5>
                        <p class="card-text">Some Text</p>
                        <a class="btn btn-primary btn-circle float-right" asp-controller="Journals" asp-action="DownloadJournals"
                           data-toggle="tooltip"
                           data-placement="right"
                           title="download journal"
                           id="cardLink"
                        >
                            <i class="fa fa-file-download fa-3x"></i>
                        </a>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Date Updated</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

