@model Steunijos.Web.ViewModels.Journal.JournalInputModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>JournalInputModel</h4>
<hr />
<section class="section">
    <div class="container">

        <div class="row">
            @if (!(TempData["Message"] is null))
            {
                <span class="text-danger">@TempData["Message"]</span>
            }
            <div class="col-md-4">
                <form asp-controller="Journals" asp-action="Create" method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="JournalVolume" class="control-label"></label>
                        <input asp-for="JournalVolume" class="form-control" />
                        <span asp-validation-for="JournalVolume" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CopyrightYear" class="control-label"></label>
                        <input asp-for="CopyrightYear" class="form-control" />
                        <span asp-validation-for="CopyrightYear" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="JournalIssn" class="control-label"></label>
                        <input asp-for="JournalIssn" class="form-control" />
                        <span asp-validation-for="JournalIssn" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Upload Paper</label>
                        <input asp-for="File" type="file" name="file" class="form-control" />
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
