@model Steunijos.Web.ViewModels.Journal.JournalInputModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hr />
<section class="section">
    <div class="container">
        <div class="row justify-content-center mb-4" style="margin-top: 30px;">
            <div class="col-md-8 col-lg-6 text-center">
                <h2 class="section-title mb-2">Upload A Journal.</h2>
            </div>
        </div>
        <hr/>
        <div class="row">
            @* @if (!(TempData["Message"] is null))
            {
                <span class="text-danger">@TempData["Message"]</span>
            } *@
            <div class="col-md-8">
                <form asp-controller="Journals" asp-action="Create" method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="JournalVolume" class="control-label"></label>
                        <input asp-for="JournalVolume" class="form-control formcontrolste rounded"/>
                        <span asp-validation-for="JournalVolume" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CopyrightYear" class="control-label"></label>
                        <input asp-for="CopyrightYear" class="form-control formcontrolste rounded"/>
                        <span asp-validation-for="CopyrightYear" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="JournalIssn" class="control-label"></label>
                        <input asp-for="JournalIssn" class="form-control formcontrolste rounded"/>
                        <span asp-validation-for="JournalIssn" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Upload Paper</label>
                        <input asp-for="File" type="file" name="file" class="form-control formcontrolste rounded"/>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Upload" class="d-inline btn btn-primary" style="font-weight: bold; font-size: large;"/>
                        <p id="form-inform" class="d-inline">
                            <ul>
                                <li class="text-info text-capitalize text-lg-right" style="list-style: none;">
                                    Journals should be one pdf document
                                </li>
                                <li class="text-info text-capitalize text-lg-right" style="list-style: none;">
                                    Every PDF document should not be more than 10MB in size!
                                </li>
                                <li class="text-danger text-capitalize text-lg-right" style="list-style: none;">
                                    Any other document type will not upload!
                                </li>
                            </ul>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
