@* @model TModel *@

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<section class="section">
    <div class="container">
        <div class="row justify-content-center mb-4" style="margin-top: 30px;">
            <h2 class="section-title mb-2">Our Editors</h2>
        </div>
        <div class="row">
            
        </div>
    </div>
    </section>
