<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="it">
    <meta name="keywords" content="Rapoo,creative, agency, startup, Mobicon,onepage, clean, modern,business, company,it">
    <meta name="google-signin-client_id" content="124216463781-sslk5o9gv0hp0nirama5ddgs08qfsn8a.apps.googleusercontent.com">

    <!-- Plugins CSS -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/Pe-icon-7-stroke.css">

    <link rel="stylesheet" href="~/css/slick.css">
    <link rel="stylesheet" href="~/css/slick-theme.css">
    <link rel="stylesheet" href="~/css/all.css">

    <!-- Theme CSS -->
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/responsive.css">

    <title>Department Of Science & Technology Education</title>
</head>


<body class="top-header">

    <!-- LOADER TEMPLATE -->
    <div id="page-loader">
        <div class="loader-icon fa fa-spin colored-border"></div>
    </div>
    <!-- LOADER TEMPLATE -->
    <!-- NAVBAR
    ================================================= -->
    <nav class="navbar navbar-expand-lg navbar-dark trans-navigation fixed-top navbar-togglable">
        <div class="container">
            <a asp-controller="Home" class="navbar-brand" asp-action="Index" id="brand">
                <div class="headerContainer">
                    <div class="headerlogo-left">
                        <img src="~/img/steunijos-logo-small.png" id="logoImg" />
                    </div>
                </div>
            </a>
            <!-- Toggler -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="fa fa-bars"></span>
            </button>

            <!-- Collapse -->
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <!-- Links -->
                <ul class="navbar-nav ml-auto">
                    
                    <li class="nav-item ">
                        <a asp-controller="Home" asp-action="Index" class="nav-link js-scroll-trigger">
                            Home
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a asp-controller="Journals" asp-action="Create" class="nav-link js-scroll-trigger">
                            Journals
                        </a>
                    </li>

                    <li class="nav-item ">
                        <a asp-controller="Papers" asp-action="SubmitPaper" class="nav-link js-scroll-trigger">
                            Papers
                        </a>
                    </li>

                    <li class="nav-item ">
                        <a asp-controller="Editors" asp-action="Index" class="nav-link">
                            Editors
                        </a>
                    </li>

                    <li class="nav-item ">
                        <a asp-controller="ContactUs" asp-action="Create" class="nav-link">
                            ContactUs
                        </a>
                    </li>
                    <li></li>
                    <li></li>
                    <partial name="_LoginPartial" />
                </ul>
            </div> <!-- / .navbar-collapse -->
        </div> <!-- / .container -->
    </nav>

    @RenderBody()


    <!-- FOOTER
    ================================================== -->
    <footer class="section " id="footer">
        <div class="overlay footer-overlay"></div>
        <!--Content -->
        <div class="container">
            <div class="row justify-content-start">
                <div class="col-lg-4 col-sm-12">
                    <div class="footer-widget">
                        <!-- Brand -->
                        <a href="#" class="footer-brand text-white">
                            Department of Science & Technology Education, University of Jos.
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 ml-lg-auto col-sm-12">
                    <div class="footer-widget">
                        <h3>Account</h3>
                        <!-- Links -->
                        <ul class="footer-links ">
                            
                            <li>
                                <a href="#">
                                    Help and support
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Frequently Asked Question
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>


                <div class="col-lg-2 col-sm-6">
                    <div class="footer-widget">
                        <h3>About</h3>
                        <!-- Links -->
                        <ul class="footer-links ">
                            
                            <li>
                                <a href="#">
                                    About Us
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    Contact
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-2 col-sm-6">
                    <div class="footer-widget">
                        <h3>Socials</h3>
                        <!-- Links -->
                        <ul class="list-unstyled footer-links">
                        </ul>
                    </div>
                </div>
            </div> <!-- / .row -->


            <div class="row text-right pt-5">
                <div class="col-lg-12">
                    <!-- Copyright -->
                    <p class="footer-copy ">
                        &copy; Copyright <b class="current-year"> @DateTimeOffset.Now.Year </b> All rights reserved.
                    </p>
                </div>
            </div> <!-- / .row -->
        </div> <!-- / .container -->
    </footer>


    <!--  Page Scroll to Top  -->
    <a class="scroll-to-top js-scroll-trigger" href=".top-header">
        <i class="fa fa-angle-up"></i>
    </a>

    <!-- JAVASCRIPT
    ================================================== -->
    <!-- Global JS -->
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/js/popper.min.js"></script>

    <!-- Plugins JS -->
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>

    <!-- Slick JS -->
    <script src="~/js/jquery.easing.1.3.js"></script>
    <script src="~/js/slick.min.js"></script>
    <!-- Theme JS -->
    <script src="~/js/theme.js"></script>

    @RenderSection("Scripts", required: false)


</body>

</html>