@model IEnumerable<Steunijos.Web.ViewModels.Journal.JournalReadModel>
@{
    ViewData["Title"] = "Home";
}

<!-- HERO
    ================================================== -->
<section class="page-banner-area page-project">
    <div class="overlay"></div>
    <!-- Content -->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-9 col-md-12 col-12 text-center">
                <div class="page-banner-content">
                    <h1 class="display-4 font-weight-bold">Welcome to the International Journal of Research in Science, Technology and Mathematics Education site.</h1>
                    <p>You can register & publish your Journals and other papers with us.</p>
                </div>
            </div>
        </div> <!-- / .row -->
    </div> <!-- / .container -->
</section>

<!-- SECTIONS
================================================== -->
<!-- Working Process
 ================================================== -->
<section class="section" id="process">
    <div class="container">
        <div class="row justify-content-center mb-4">
            <div class="col-md-8 col-lg-6 text-center">

                <!-- Heading -->
                <h2 class="section-title mb-2">
                    Our Working process
                </h2>

                <!-- Subheading -->
                <p class="mb-5">
                    You register with us using any supported social platform, and upload a paper which could be a project, thesis or related documents.
                </p>

            </div>
        </div> <!-- / .row -->

        <div class="row justify-content-center">
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="process-block">
                    <img src="~/img/LJ_academic.jpg" alt="" class="img-fluid">

                    <h3>Project Research</h3>
                    <p>Nihil facere delectus eaque aut possimus nobis laudantium reprehenderit.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="process-block">
                    <img src="~/img/books-thesis.jpg" alt="" class="img-fluid">

                    <h3>Doctoral Thesis</h3>
                    <p>Nihil facere delectus eaque aut possimus nobis laudantium reprehenderit.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="process-block">
                    <img src="~/img/books.jpg" alt="" class="img-fluid">

                    <h3>IJRSTME Publications</h3>
                    <p>Nihil facere delectus eaque aut possimus nobis laudantium reprehenderit.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Projects
================================================== -->

<section id="work-wrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-heading">
                    <h1>The main criterion of acceptance is that all materials submitted should make a contribution of knowledge to these fields. The aim of which is to publish clear and concise papers, case studies, theoretical and empirical or applied research reports.</h1>
                </div>
            </div>
            <div class="col-lg-6">
                <p class="lead">The Editors are pleased to receive papers for consideration on any aspect of sicence, technology, mathematics and environmental education (STME) that will be of interest to readers.</p>
            </div>
        </div>
    </div>
</section>

<section id="work" class="section-bottom">
    <div class="container">
        <div class="row">
            @foreach(var journal in Model)
            {
                <div class="col-lg-4 col-md-6 p-0">
                    <div class="work-block">
                        <img src="~/img/work/10.jpg" alt="work-img" class="img-fluid">
                        <div class="overlay-content-block">
                            <h4>@journal.CopyrightYear.Date.Year</h4>
                            <p>@journal.VolumeName</p>
                            <p>@journal.IssnNo</p>
                            <p></p>
                            <a asp-controller="Journals" asp-action="JournalDownload" href=""><i class="fa fa-download"></i></a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>