@model Steunijos.Web.ViewModels.ContactUs.ContactUsDetailModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<section class="section" style="margin-top: 50px;">
    <h3>Contact Details</h3>
    <div class="container">
        <div class="row">

        </div>
        <div class="row">
            
        </div>
    </div>
</section>
